.content {
  width: 100%;
  clear: both;
  margin-top: 145px;
}

.content img {
  max-width: 100%;
}

.content h3:nth-child(1) {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.content figure {
  text-align: center;
}

.content figcaption {
  margin-bottom: 2rem;
  color: rgba(117, 117, 117, 1);
}

.content p {
    line-height: 2rem;  
}

.content pre {
    background-color: rgba(242, 242, 242, 1);
    padding: 1rem;
}

.content li {
    line-height: 2rem;
}

.content blockquote {
    border-left: 0.3rem solid black;
    padding-left: 1rem;
}

.content blockquote {
    line-height: 2rem;
}